.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
app/assets/images/*
app/assets/images
*~
*.rb~
*.rhtml~
*.html.erb~
.DS_Store
*.rake~
*.sql
*.swp
nbproject/*
nbproject/private/*
config/deploy.rb
config/database.yml
config/facebook.yml
